<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- 启用极速模式(webkit) -->
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<!--  -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="KeyWords" content="联系我们">
<meta name="description" content="联系我们">
<title>联系我们</title>
<link rel="shortcut icon" type="image/x-icon" href="img/upimages/favicon.ico" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name='apple-touch-fullscreen' content='yes' />
<meta name="full-screen" content="yes">
<!-- SEO友好提示 -->
<!--<meta name="applicable-device" content="pc,mobile">-->
<!--[if lt IE 9]>
<script type="text/javascript" src="../js/comm/html5shiv.js"></script>
<script type="text/javascript" src="../js/comm/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="js/comm/jquery.min.js"></script>
<script type="text/javascript" src="js/comm/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="js/comm/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/comm/ubox.js" charset="utf-8"></script>
<script type="text/javascript" src="js/comm/wow.js" charset="utf-8"></script>
<script type="text/javascript" src="js/comm/alert.js" charset="utf-8"></script>
<script type="text/javascript" src="js/061704.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="css/comm/font/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/comm/animate.min.css"/>
<link rel="stylesheet" type="text/css" href="css/comm/box.css"/>
<link rel="stylesheet" type="text/css" href="css/comm/alert.css"/>
<link rel="stylesheet" type="text/css" href="css/061704.css"/>

<script>
//是否手机端判断
var ua = navigator.userAgent;
var ipad = ua.match(/(iPad).*OS\s([\d_]+)/),
isIphone =!ipad && ua.match(/(iPhone\sOS)\s([\d_]+)/),
isAndroid = ua.match(/(Android)\s+([\d.]+)/),
isMobile = isIphone || isAndroid;
if(isMobile){
	$("head").append("<meta content='width=320,user-scalable=no' name='viewport'>");
}else{
	$("head").append("<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport' />");
}
</script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
var DIY_WEBSITE_ID = "1114";
var DIY_JS_SERVER = "s143js.nicebox.cn";
</script>
</head>
<body>
	<script type="text/javascript">var Default_isFT = 0;</script>
<script type="text/javascript" src="js/comm/transform.js@201603091"></script>

    <div id="comm_layout_header" class="layout  none"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
        <div class="view_contents">
            <div id="div_includeBlock_1492054720583" class="view includeBlock div  none includeView"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
				<div names="div" class="view_contents" >
                    <div id="dh_style_01_1495502294245" class="view style_01 dh  none lockHeightView"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>

                        <div names="dh" class="view_contents" >

                            <script></script>

                            <div id="menu" class="menu menuStyle_1">

                                <div class="menuLayout">

                                    <ul class="miniMenu columnSet showmobile">

                                        <li class="leftBox">


                                            <div class="nav"></div>

                                            <div class="sidebar icoMenuSet" onclick="setDhListen('style_01',this)">=</div>

                                            <div class="menuScroll">

                                                <ul class="menuUlCopy">
	                	
                                                    <li class="rflex" pageid="61708" showmobile=""><a class="mainMenuSet" href="index.html">首页</a>
							
							
                                                    </li>
								
	                 	
                                                    <li class="rflex" pageid="61705" showmobile=""><a class="mainMenuSet" href="productCenter.html">产品中心</a>
							
							
								
                                                    </li>
								
	                 	
						 
                                                    <li class="rflex" pageid="61709" showmobile=""><a class="mainMenuSet" href="news.html">新闻资讯</a>
							
							
								
                                                    </li>
								
	                 	
													<li class="rflex" pageid="61706" showmobile=""><a class="mainMenuSet" href="aboutUs.html">关于我们</a>
							
							
													</li>
								
	                 	
						 
													<li id="hot" class="rflex" pageid="61704" showmobile=""><a class="mainMenuSet" href="contactUs.html">联系我们</a>
		                 	
							
													</li>
								
												</ul>
											</div>

										</li>


									</ul>

								</div>

							</div>
<!-- 菜单区域 End-->

						</div>
					</div>
					<div id="image_logo_1495604573754" class="view logo image  none"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>

						<div names="image" class="view_contents" >

							<div class="logoStyle modSet">
	


								<a href='index.html' target="_self"><img class="imgSet" src="img/logo.png@1505463979" title="" alt="" style="width:100%; height:auto"/></a>

							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div id="layout_1492154519491" class="layout  none"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>

				<div class="view_contents">

					<div id="image_style_01_1492154519497" class="view style_01 image  none"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>

						<div names="image" class="view_contents" >

							<div class="imgStyle CompatibleImg">
	
								<a href='javascript:;' target="">
	
									<img class="picSet link-type-" src="http://sj.gsxl.com.cn/e3bd0a59e509d565/img/upimages/pkgimg/pkgimg/pkgimg/pkgimg/1_01_0b3v.jpg" title="" alt="描述" id="imageModeShow"/>
								</a>
							</div>
						</div>

					</div>
					<div id="text_style_02_1492154519518" class="view style_02 text  none wow fadeInDown lockHeightView"  data-wow-duration='1s' data-wow-delay='0.25s' data-wow-offset='0' data-wow-iteration='1'>
						<div names="text" class="view_contents" >联系我们</div></div>
					<div id="text_style_02_1492154519529" class="view style_02 text  none wow fadeInDown lockHeightView"  data-wow-duration='1s' data-wow-delay='1s' data-wow-offset='0' data-wow-iteration='1'>

						<div names="text" class="view_contents" >Contact&nbsp;US</div>
					</div>
					<div id="text_style_02_1492154519534" class="view style_02 text  none wow fadeInUp lockHeightView"  data-wow-duration='1s' data-wow-delay='1.5s' data-wow-offset='0' data-wow-iteration='1'>
						<div names="text" class="view_contents" >售后竭尽服务，尽责至善至终</div>
					</div>

				</div>
	</div>

	<div id="layout_1490845642109" class="layout  none"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>


		<div id="layout_1495693350088" class="layout "  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
				<div class="view_contents">

					<div id="text_style_07_1495693350094" class="view style_07 text  none wow fadeInLeft lockHeightView"  data-wow-duration='1s' data-wow-delay='1s' data-wow-offset='0' data-wow-iteration='1'>

						<div names="text" class="view_contents" >

							MESSAGE


						</div>

					</div>

					<div id="text_style_02_1495693350113" class="view style_02 text  none wow fadeInDown lockHeightView"  data-wow-duration='1s' data-wow-delay='1s' data-wow-offset='0' data-wow-iteration='1'>

						<div names="text" class="view_contents" >

					在线留言


						</div>

					</div>
					<div id="image_style_01_1495693350122" class="view style_01 image  none wow tada"  data-wow-duration='5.8s' data-wow-delay='0.25s' data-wow-offset='0' data-wow-iteration='infinite'>

						<div names="image" class="view_contents" >

							<div class="imgStyle CompatibleImg">


								<a href='javascript:;' target="">


									<img class="picSet link-type-" src="http://sj.gsxl.com.cn/e3bd0a59e509d565/img/upimages/pkgimg/pkgimg/618c0b65a73d977917f03ec528df1afc.png" title="" alt="描述" id="imageModeShow"/>


								</a>
							</div>
						</div>

					</div>

					<div id="image_style_01_1495693350131" class="view style_01 image  none wow tada"  data-wow-duration='6s' data-wow-delay='0.25s' data-wow-offset='0' data-wow-iteration='infinite'>

						<div names="image" class="view_contents" >

							<div class="imgStyle CompatibleImg">
	
								<a href='javascript:;' target="">

									<img class="picSet link-type-" src="http://sj.gsxl.com.cn/e3bd0a59e509d565/img/upimages/pkgimg/pkgimg/20170523094038679.png" title="" alt="描述" id="imageModeShow"/>
	

								</a>

							</div>

						</div>
					</div>
				</div>
			</div>
		<!--<div id="layout_1490852611548" class="layout  none"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>-->
				<!--<div class="view_contents">-->
					<!--<div id="customForm_form_1490852919560" class="view form customForm  none wow fadeInLeft includeView"  data-wow-duration='2.4s' data-wow-delay='0.25s' data-wow-offset='0' data-wow-iteration='1'>-->

						<div names="customForm" class="view_contents" >
							<!--<form id="form_customForm_form_1490852919560" action="" onsubmit="return CheckForm(this)" method="POST" target="" >-->

								<div id="customForm_style_input_01_1490852997941" class="view style_input_01 customForm  none lockHeightView"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>

									<div names="customForm" class="view_contents" >

										<input type="text" name="item[customForm_style_input_01_1490852997941]" value="" check="\S" warning='请填写完整' all maxlength="" class="textInput showvar inputSet" placeholder="姓名..." />

									</div>

								</div>

								<div id="customForm_style_input_01_1492158258420" class="view style_input_01 customForm  none lockHeightView"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>

									<div names="customForm" class="view_contents" >

										<input type="text" name="item[customForm_style_input_01_1492158258420]" value="" check="^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$" warning='邮箱地址不对' all maxlength="" class="textInput showvar inputSet" placeholder="电子邮箱..." />

									</div>

								</div>

								<div id="customForm_style_textarea_01_1490853488645" class="view style_textarea_01 customForm  none"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>

									<div names="customForm" class="view_contents" >

										<textarea style="resize:none;" name="item[customForm_style_textarea_01_1490853488645]" value="" data-ismust="all" maxlength="140" class="textareaInput3 inputSet" placeholder="请写下您的留言..." ></textarea>


									</div>

								</div>

								<div id="customForm_style_button_01_1490853583140" class="view style_button_01 customForm  none lockHeightView"  data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>

									<div names="customForm" class="view_contents" >

										<input type="submit" name="" value="提交留言" class="squareButton  btnaSet" onclick=""/>

									</div>

								</div>




		<!--<div style="display:none">-->
<!--<script language="javascript" type="text/javascript" src="../../js.users.51.la/19205714.js"></script> -->
<!--</div>-->
</body>
</html>