<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.dao.Xmuser.XmUserMapper">
    <resultMap id="BaseResultMap" type="com.example.demo2.entity.Xmuser.User" >
        <result column="ID" property="userId" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR" />
        <result column="PASSWD" property="passwd" jdbcType="VARCHAR" />
        <result column="EXT1" property="ext1" jdbcType="VARCHAR" />
        <result column="EXT2" property="ext2" jdbcType="VARCHAR" />
    </resultMap>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from USER  where PHONE =#{phone}
        <if test="passwd != null and passwd !=''">
            and PASSWD=#{passwd}
        </if>
    </select>


    <insert id="insert" parameterType="com.example.demo2.entity.Xmuser.User">
             insert into USER (ID, PHONE,EXT1,EXT2,PASSWD)
    values (#{record.userId,jdbcType=VARCHAR},#{record.phone,jdbcType=VARCHAR},
             #{record.ext1,jdbcType=VARCHAR},#{record.ext2,jdbcType=VARCHAR}, #{record.passwd,jdbcType=VARCHAR}
             )
    </insert>






</mapper>