<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <!--<style type="text/css">-->
        <!--div{-->
            <!--width: 100px;-->
            <!--background-color: red;-->
            <!--height: 100px;-->
        <!--}-->
        <!--li{-->
            <!--width: 400px;-->
            <!--height: 300px;-->
            <!--border: 1px solid black;-->
        <!--}-->
    <!--</style>-->
    <!--<script type="text/javascript" src="vue.myjs"></script>-->
</head>
<body>
<!--<div id="app">-->
    <!--<div id="box" draggable="true" @dragstart='drag($event)'></div>-->
    <!--<ul>-->
        <!--<li-->
                <!--v-for="(item, index) in list"-->
                <!--:style="item.styleObj"-->
                <!--@drop='drop($event)'-->
                <!--@dragover='allowDrop($event)'-->
        <!--&gt;{{item.id}}</li>-->
    <!--</ul>-->
<!--</div>-->
<!--<script type="text/javascript">-->
    <!--new Vue({-->
        <!--el:"#app",-->
        <!--data:{-->
            <!--list:[-->
                <!--{-->
                    <!--id:'001',styleObj:{background:'url(img/1.jpg)'}-->
                <!--}-->
            <!--]-->
        <!--},-->
        <!--// methods:{-->
        <!--//     // drag(e){-->
        <!--//     //     console.log(e.currentTarget.offsetTop)-->
        <!--//     // },-->
        <!--//     // drop(e){-->
        <!--//     //     console.log('drop')-->
        <!--//     // },-->
        <!--//     // allowDrop(){-->
        <!--//     //     console.log('allowDrop')-->
        <!--//     allowDrop(e){-->
        <!--//         e.preventDefault();-->
        <!--//         console.log('allowDrop')-->
        <!--//-->
        <!--//     }-->
        <!--// }-->
    <!--})-->
<!--</script>-->

<h1>123456789</h1>
<h1>123</h1>
</body>
</html>