<!DOCTYPE html>
<html xmlns:td="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="css/grzx/css/grzx.css">
	<script>
		function regist() {
			window.location.href="/appRegist"
			window.event.returnValue=false;
		}
	</script>
	</head>
	<body>
	<!--<input type="text" th:value="${name}" id="xx">-->
		<header style="background: lightcoral">
			<div class="user" >
				<i class="iconfont" onclick="regist()" >&#xe623;</i>
				<!--<img src="image/hh.png" style="width: 60px;height: 60px">-->
			</div>
			
			<div class="userinfo">

				<p>微信昵称</p>
				<!--<input type="text" value="respond.name" />-->
				<p th:text="${name}" />
				<p>非会员<span>100积分</span></p>
			</div>
			
			<div class="right_icon">
				<a href="javascript:;" class="iconfont">&#xe7f5;</a>
			</div>
		</header>
		
		<section>
			<!--<a href="javascript:;"><i class="iconfont">&#xe60b;</i>待支付</a>-->
			<!--<a href="javascript:;"><i class="iconfont" style="background: #e25b5b;">&#xe617;</i>代发货</a>-->
			<!--<a href="javascript:;"><i class="iconfont" style="background: #62d07a;">&#xe671;</i>待收货</a>-->
			<!--<a href="javascript:;"><i class="iconfont" style="background: #d6c46a;">&#xe717;</i>待评价</a>-->
			<!--<a href="javascript:;"><i class="iconfont" style="background: #ca6abe;">&#xe75f;</i>待维权</a>-->
		</section>
		
		<aside>
			<ul>
				<li><a href="/appOrderPage;" class="sp1"><i class="iconfont">&#xe60b;</i>全部订单<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>
				<li style="margin-top: .2rem;"><a href="/appGetAddress" class="sp2"><i class="iconfont">&#xe617;</i>收货地址<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>
				<li style="margin-top: .2rem;"><a href="/appShowIndex?page=repasswd" class="sp3"><i class="iconfont">&#xe717;</i>修改密码<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>
			    <li><a href="javscript_3A;" class="sp8"><i class="iconfont">&#xe75f;</i>我的购物车<i class="iconfont" style="float: right;font-size: .30rem;">&#xe602;</i></a></li>
			</ul>
			<ul>
				<li style="margin-top: .2rem;"><a href="javscript_3A;" class="sp3"><i class="iconfont">&#xe717;</i>退出登录<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>
			</ul>
		</aside>
		<div style="height: 1rem;"></div>
		<footer >
			<a href="/appCommPage?page=首页"><i class="iconfont">&#xe60b;</i>首页</a>
			<a href="/appCommPage?page=产品页"><i class="iconfont">&#xe75f;</i>分类</a>
			<a href="appOrderPage"><i class="iconfont">&#xe671;</i>购物车</a>
			<a href="appGRZX"><i class="iconfont">&#xe617;</i>我的</a>
		</footer>
		<script  src="tianpin/js/comm/jquery.min.js"></script>
		<script>
			// $('footer a').click(function(){
			// 	$(this).addClass('on').siblings().removeClass('on');
			// });
			// $('a').click(function(){
			// 	alert('暂时开发中,敬请期待!');
			// })
		</script>
	</body>
</html>
